.search {
    -webkit-appearance: none;
    border: .5px solid gray;
    border-radius: 10px;
    margin: 0px 0 30px 0;
    outline: none;
    text-align: center;
    padding: 10px;
    font-size: 40px;
    font-weight: bold;
    color: rgb(7, 7, 83);
}